
.serviceWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.serviceContainer{
    width: 100%;
    margin: 0px auto;
    border: 1px solid gray;
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    box-sizing: border-box;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 20%;
    height: 300px;
    box-sizing: border-box;
}


/* doctor card */
.doctorCardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
    flex-direction: row;
    row-gap: 30px;
    align-items: start;
    justify-content: space-evenly;
    padding: 30px;
    box-sizing: border-box;
}
.doctorCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 4px 1px 4px 1px #f3e5e5;
    min-height: 300px;
}

.doctorCardImage{
    width: 40%;
}
.doctorCardText{
    width: 60%;
}

/* doctor details */

.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.personalDetails{
    margin: 30px 0px;
    padding: 20px;
    width: 80%;
    box-shadow: 5px 3px 7px 5px #dddd;
}

.information{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}

.informationA{
    width: 55%;
}
.informationA1{
    box-shadow: 5px 3px 7px 5px #dddd;
    padding: 20px;
    margin-bottom: 30px;
}
.informationA2{
    box-shadow: 5px 3px 7px 5px #dddd;
    padding: 20px;
}
.informationB{
    width: 40%;
}